# Scientific
numpy
scipy
matplotlib

# Image Processing
Pillow
imageio
nibabel
scikit-image
python-gdcm
vtk

# Machine Learning
torch
plaidml-keras

# Utilities
Cython
Pypubsub
h5py
psutil
pyserial
wxPython==4.2.2
pyacvd
optitrack ; python_version == "3.8" and sys_platform == "windows"
pyclaron ; python_version == "3.8" and sys_platform == "windows"
